<div class="software-box card">
<div class="card-body">
<h5 class="card-title">
{{ include.service-name }}&nbsp;{{ include.service-provider }}
</h5>
<h6 class="card-subtitle mb-2 text-muted">
{% if page.lang == "en" %}
Sofware:
{% else %}
Logiciel:
{% endif %}
<span class="software-name"><a href="{{ include.software-link}}">{{ include.software-name }}</a></span> ({{ include.software-compatibility }})
</h6>
<div class="card-text mb-2">
{% if include.free-text %}
{{ include.free-text}}
{% endif %}
</div>
{% assign links = include.links | split: "|" %}
{% for link in links %}
{{ link }}
{% endfor %}
</div>
</div>
